<%= form_for([@post, @comment]) do |f| %>
	
	<% if @comment.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@comment.errors.count, "error")%> prohibited this comment from beign saved:</h2>
			<ul>
				<% @comment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
   	</div>
	<% end %>

	<div>
		<%= f.label :commenter %>
		<%= f.text_field :commenter %>
	</div>
	<div>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>