<table class="profile">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user, size: 30 %>
        <%= @user.name %>
      </h1>
      <% if @user.posts.any? %>
        <table class="posts">
          <%= render @posts %>
        </table>
        <%= will_paginate @posts%>
      <% end %>

    </td>
    <td class="sidebar">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Posts</strong> <%= @user.posts.count %><br />
      <strong><%= link_to 'New Post', new_post_path %></strong>
    </td>
  </tr>
</table>