<div class="row">
  <div class="span9">
    <h1>
      <%= gravatar_for @user, size: 30 %>
      <%= @user.name %>
    </h1><br />
    <% if @user.posts.any? %>
      <%= render @posts %>
    <% end %>
    <%= will_paginate @posts %>
  </div>
  <div class="span2 offset1 well">
    <strong>Name</strong> <%= @user.name %><br />
    <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
    <strong>Posts</strong> <%= @user.posts.count %><br />
    <% if current_user?(@user) %>
      <strong><%= link_to 'Settings', edit_user_path %></strong><br />
      <strong><%= link_to 'New Post', new_post_path %></strong>
    <% end %>
  </div>
</div>