<%= form_for(@post) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<div>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</div>
	<div>
    <%= label_tag 'Categories'%><br />
    <%= collection_select(:post, :category_id, Category.all, :id, :name)  %>
    <%= link_to 'Add category', new_category_path %>
	</div>
  <br />
	<div>
		<%= f.submit %>
	</div>
<% end %>