<%= form_for(@post) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :content %>
		<%= f.text_area :content, size: "50x10" %>
	</div>
	<div>
    <%= label_tag 'Categories'%>
    <%= collection_select(:post, :category_id, Category.all, :id, :name)  %><br />
    <%= link_to 'Add category', new_category_path, class: "btn" %>
	</div>
  <br />
	<div>
		<%= f.submit %>
	</div>
<% end %>