<div class="row">
  <div class="span9">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <h6>
      Posted <%= post.created_at%>
      <% if current_user?(post.user) %>
        <%= link_to 'edit', edit_post_path(post) %>
        <%= link_to 'delete', post, method: :delete, confirm: "You shure?" %>
      <% end %>
    </h6><br />
  </div>
</div>