<div class="row">
  <div class="span9">
    <h2><%= post.title %></h2><br />
    <p><%= post.content %></p><br />
    <p>
      Posted <%= post.created_at%>
      <% if current_user?(post.user) %>
        <%= link_to 'edit', edit_post_path(post) %>
        <%= link_to 'delete', post, method: :delete, confirm: "You shure?"%>
      <% end %>
    </p>
  </div>
</div>