<h1>All Posts</h1>

<% if @posts.empty? %>
  <h2>There are no posts yet. Please create one!</h2>
<% else %>
  <table>
  	<tr>
  		<th>Author</th>
  		<th>Title</th>
  		<th>Content</th>
  	</tr>

  <% @posts.each do |post| %>
  	<tr>
  		<td><%= link_to post.user.name, post.user %></td>
  		<td><%= post.title %></td>
  		<td><%= post.content%></td>
  		<td><%= link_to 'Show', post %></td>
  	</tr>
  	<% end %>
  </table>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>