<p>
  <b>Author:</b>
  <%= link_to @post.user.name, @post.user %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
<% if @post.category%>
  <p>
    <b>Category:</b>
    <%= @post.category.name %>
  </p>
<% end %>

<% if @post.comments.any? %>
  <h2>Comments</h2>
	<%= render Comment.where(:post_id => @post.id) %>
<% else %>
	<p>There are no comments yet.</p>
<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<br />

<%= link_to 'Back', posts_path %>
