<h1>Author: <%= link_to @post.user.name, @post.user %></h1>
<h1>Title: <%= @post.title %></h1>
<p><%= @post.content %></p>

<% if @post.category%>
  <p>
    <b>Category:</b>
    <%= @post.category.name %>
  </p>
<% end %>

<% if @post.comments.any? %>
  <h2>Comments</h2>
	<%= render Comment.where(:post_id => @post.id) %>
<% else %>
	<p>There are no comments yet.</p>
<% end %>

<h3>Add a comment:</h3>
<%= render "comments/form" %>

<%= link_to 'Back', posts_path, class: "btn" %>
